nav.navbar.navbar-expand-md.navbar-dark.navbar-transparent
            a.navbar-brand EduEducate
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#basicNav' aria-controls='basicNav' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
        
            .collapse.navbar-collapse#basicNav
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href='/user/login') Login
                    li.nav-item
                        a.nav-link(href='/user/register') Register
