h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
}

body {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}

p {
    font-family: Roboto;
}

// Navbar
.navbar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    font-family: Poppins;
    width: 100%;
    position: absolute;
    z-index: 1000;

    .nav-link.dropdown-toggle {
        cursor: pointer;
    }

    .navbar-brand {
        font-weight: bolder;
        font-family: 'Indie Flower', cursive;
        font-size: xx-large;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .navbar-nav {
        .nav-item {
            color: #fff;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
            position: relative;
        }

        .active a {
            position: relative;
        }
        .active a span::after {
            border-bottom: 0.15rem solid #fff;
            border-radius: 4rem;
            bottom: 0.2rem;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
        }
    }
}

.container-fluid {
    padding: 0;
}

.container {
    @media (min-width: 1200px) {
        max-width: 1600px;
    }
}

footer {
    padding: 2rem;
    position: relative;
    margin-bottom: 0;
    margin-top: 4rem;

    p {
        margin: 0;
    }
}

// Start
.showcase {
    height: 101vh;
    width: 100%;
    background-image: url(/img/starter-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;

    @media (max-width: 576px) {
        height: 65vh;

        .content {
            .logo {
                height: 140px;
                width: 140px;
            }

            .text {
                display: none;
            }
        }
    }

    @media (max-height: 576px) {
        .content {
            top: 0;

            .title,
            .text {
                display: none;
            }
        }
    }
}

.showcase:hover {
    filter: blur(0px);
    -webkit-filter: blur(0px);

    .content {
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }

    .content:hover {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

.content {
    position: absolute;
    top: 5%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
    z-index: 1;

    .logo {
        height: 180px;
        width: 180px;
    }

    .title {
        font-size: 2.6rem;
        font-family: 'Indie Flower', cursive;
        margin-top: 1rem;
    }

    .text {
        line-height: 1.7;
    }
}

#about {
    background: #f1f1f1;
    padding: 4rem 0 3rem 0;
    text-align: center;

    p {
        font-size: 32px;
        font-family: 'Josefin Sans';
        color: #666;
    }
}

#services {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media (max-width: 576px) {
        :nth-child(1) {
            margin-top: 0;
        }

        div {
            margin-top: 2rem;
        }
    }
}

#beginNow {
    a {
        margin: 2rem;
    }

    @media (max-width: 576px) {
        text-align: center;
    }
}

// Login / Register
.loginShowcase::after {
    height: 101vh;
    width: 100%;
    background-image: url(/img/starter-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
    content: '';

    @media (max-width: 576px) {
        height: 90vh;
    }
}

.login {
    position: absolute;
    z-index: 2;
    top: 34%;
    color: #666;
    width: -webkit-fill-available;
    width: fill-available;

    .logo {
        position: absolute;
        left: 50%;
        margin-top: -15rem;
        margin-left: -90px;
        text-align: center;
        z-index: 1;
        height: 180px;
        width: 180px;

        @media (max-width: 576px) {
            height: 140px;
            width: 140px;
            margin-left: -70px;
        }
    }

    p {
        a {
            color: rgb(0, 0, 0);
            white-space: nowrap;
        }
    }

    @media (max-width: 576px) {
        top: 25%;

        .logo {
            margin-top: -10rem;
        }
    }
}

// Home
.home {
    padding-top: 8rem;
    padding-left: 10%;
    padding-right: 10%;
}